.column{
  display: inline-block; padding:5px; border: 1px solid #CCC; vertical-align: top; padding:10px 15px 5px 15px; margin-top: 20px; margin-left: -1px
}/*
.column:first-child{
  border-left: 1px solid #CCC;
}*/

label{margin-left: 10px}
ul{list-style: none; padding:0;}
hr{width:100%; padding:0; margin:10px 0;}
